@page
@model SWP_QA_TOOL.Pages_Admin_Questions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.Title" class="control-label"></label>
                <input asp-for="Question.Title" class="form-control" />
                <span asp-validation-for="Question.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Body" class="control-label"></label>
                <input asp-for="Question.Body" class="form-control" />
                <span asp-validation-for="Question.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Excerpt" class="control-label"></label>
                <input asp-for="Question.Excerpt" class="form-control" />
                <span asp-validation-for="Question.Excerpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.AuthorId" class="control-label"></label>
                <select asp-for="Question.AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Question.TeamId" class="control-label"></label>
                <select asp-for="Question.TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Question.Category" class="control-label"></label>
                <input asp-for="Question.Category" class="form-control" />
                <span asp-validation-for="Question.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Difficulty" class="control-label"></label>
                <input asp-for="Question.Difficulty" class="form-control" />
                <span asp-validation-for="Question.Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.AcceptedAnswerId" class="control-label"></label>
                <input asp-for="Question.AcceptedAnswerId" class="form-control" />
                <span asp-validation-for="Question.AcceptedAnswerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.ClosedReason" class="control-label"></label>
                <input asp-for="Question.ClosedReason" class="form-control" />
                <span asp-validation-for="Question.ClosedReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.ClosedById" class="control-label"></label>
                <select asp-for="Question.ClosedById" class ="form-control" asp-items="ViewBag.ClosedById"></select>
            </div>
            <div class="form-group">
                <label asp-for="Question.ClosedAt" class="control-label"></label>
                <input asp-for="Question.ClosedAt" class="form-control" />
                <span asp-validation-for="Question.ClosedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
