@page
@model SWP391_QA.Pages.Cores.CreateModel

<h2>Create Core</h2>

<form method="post">

    <div class="form-group">
        <label>Core Code</label>
        <input asp-for="Core.CoreCode" class="form-control" />
    </div>

    <div class="form-group">
        <label>Core Name</label>
        <input asp-for="Core.CoreName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Semester Id</label>
        <input asp-for="Core.SemesterId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Instructor Id</label>
        <input asp-for="Core.InstructorId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Max Teams</label>
        <input asp-for="Core.MaxTeams" class="form-control" />
    </div>

    <div class="form-group">
        <label>Schedule</label>
        <input asp-for="Core.Schedule" class="form-control" />
    </div>

    <div class="form-group">
        <label>Room</label>
        <input asp-for="Core.Room" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-success">Create</button>
</form>